@use "../../../styles/main.scss" as *;

@use "sass:color";
.checks-radios {
  display: flex;
  flex-direction: column;
  gap: $spacing-small;

  &__label {
    display: flex;
    align-items: center;
    gap: $spacing-small;
    padding: $spacing-small;
    border-radius: $border-radius;
    background-color: $color-light;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: color.adjust($color-primary, $lightness: 20%);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
      outline: 2px solid $color-primary;
    }

    input {
      accent-color: $color-primary;
      width: 20px;
      height: 20px;
      transition: transform 0.2s;

      &:checked {
        transform: scale(1.1);
      }
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
